
#pageblog { margin: 0 20px 10px 0;}

#pageblog #header {
    height: 68px;
    background: url("../img/blog/header.jpg") repeat-x left top;
    padding-left: 40px;
    padding-right: 20px;
}
#pageblog #header #logo {
    float: left;
    width: 301px;
    height: 39px;
    margin: 13px 0 0;
}
#pageblog #header #logo a {
    width: 301px;
    height: 39px;
    float: left;
    text-indent: -9999px;
    background: url("../img/blog/wd.png") no-repeat left top;
}
#pageblog #header #main-nav {
    float: right;
    zoom: 1;
    display: block;
    margin: 27px 0 0 0;
}
#pageblog #header #main-nav:after {
    content: '\\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

#pageblog #header #main-nav .facebook, #pageblog #header #main-nav .twitter {
    float: left;
    width: 16px;
    height: 16px;
    margin: 4px 0 0 10px;
    text-indent: -9999px;
}
#pageblog #header #main-nav .facebook { background: url("../img/blog/ico-facebook.png") no-repeat left top; }
#pageblog #header #main-nav .twitter { background: url("../img/blog/ico-twitter.png") no-repeat left top; }



#pageblog #featured-slider {
    height: 290px;
    border-bottom: 1px solid #cccccc;
    background: url("../img/blog/featured-slider-bg.jpg") no-repeat center top;
}
#pageblog #featured-slider .wrapper { position: relative;}
#pageblog #featured-slider .slide {
    width: 940px;
    height: 290px;
    margin: 0 0;
}
#pageblog #featured-slider .slide .content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    font-size: 26px;
    color: #505050;
    font-family: 'SanukLightRegular', Arial, sans-serif;
    line-height: 32px;
    padding: 0 0 0 10px;
    width: 100%;
    background: url('../img/blog/v3-slide-3.png') top right no-repeat;
}
#pageblog #featured-slider .slide .content p {
    font-family: sans-serif;
    font-weight: 900;
}
#pageblog #featured-slider .slide .content ul,
#pageblog #featured-slider .slide .content p { padding: 30px 20px 10px 40px; }
#pageblog #featured-slider .slide .content ul { padding-top: 0 !important;}

#pageblog #featured-slider .slide .content ul,
#pageblog #featured-slider .slide .content ul li {
    list-style-type: none;
    list-style-position: outside;
}
#pageblog #featured-slider .slide .content ul li {
    padding: 3px 0 3px 15px; margin: 0 0 0 30px;
    background: url("../img/blog/header-feat-ul.png") no-repeat scroll left center transparent;
}

#pageblog #content {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #FFFFFF;
    padding: 10px 0 5px;
    width: 100%;
}
#pageblog #content #feed-list{ list-style-position: outside; list-style-type: none; margin: 10px 30px;}
#pageblog #content #feed-list li {
    padding: 2px 0;
}
#pageblog #content #feed-list li h4 {
    background: url('../img/wsd-logo-small.png') no-repeat left center;
    padding: 2px 0 2px 25px;
}





