
/** General Styling **/

.wsdplugin_content
{

}

.wsdplugin_content .wsdplugin_status_page_ico {
	background: url('../img/logo.png') no-repeat scroll center center transparent;
}
.wsdplugin_content .wsdplugin_alerts-page-ico {
	background: url('../img/alerts-page-ico.png') no-repeat scroll center center transparent;
}



/*
 * Error box
 */
.wsdplugin_content .wsdplugin_error_box { }
.wsdplugin_content .wsdplugin_error_box p { overflow: hidden; }
.wsdplugin_content .wsdplugin_error_box p strong { display: block; float: left; }
.wsdplugin_content .wsdplugin_error_box p a.dismiss { float: right; display: block; }


.wsdplugin_content .wsdplugin_info_box {
	background-color: #E0E9F9;
	border-color: #98BCF9;
}
.wsdplugin_content .wsdplugin_info_box p { overflow: hidden; }
.wsdplugin_content .wsdplugin_info_box p strong { display: block; float: left; }
.wsdplugin_content .wsdplugin_info_box p a.dismiss { float: right; display: block; }



/*
 * INFO / ERROR boxes
 */
.wsdplugin_message
{
	margin: 5px 0 15px;
	padding: 0 0.6em;
	border-radius: 3px;
	border: 1px solid;
}
.wsdplugin_message.wsdplugin_message_warning
{
	background-color: #FFFFE0;
	border-color: #E6DB55;
}
.wsdplugin_message.wsdplugin_message_error
{
	background-color: #FCC2C2;
	border-color: #CC0000;
}
.wsdplugin_message.wsdplugin_message_success
{
	background-color: #FFFFE0;
	border-color: #E6DB55;
	color: #006600;
}
.wsdplugin_message p
{
	margin: 0.5em 0;
	padding: 2px;
}


.wsdplugin_sad_face {
	width: 24px;
	height: 24px;
	background: transparent url('../img/sad24.png') left top no-repeat;
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: middle;
}

.wsdplugin_warning_trial_expired {
	width: 32px;
	height: 32px;
	background: transparent url('../img/warning.png') left top no-repeat;
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: middle;
}

.wsdplugin_warning_small {
	width: 16px;
	height: 16px;
	background: transparent url('../img/warning-small.png') left top no-repeat;
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: middle;
}



/*
* auth menu
*/
#wsdplugin_advert a, #wsdplugin_advert img { border: none 0; outline: none 0;}
.wsdplugin_website_detail { overflow: hidden; float: none; clear: both;}
.wsdplugin_page_title { overflow: hidden; display: block; clear: both; }

.wsdplugin_page_title h2 {
    background: url("../img/logo.png") no-repeat scroll 0 50% transparent;
    padding-left: 45px;
}
.wsdplugin_page_title #uinfo {
    float: right;
    margin: 10px 10px;
    cursor: pointer;
    padding: 5px 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    /*width: 180px;*/
    overflow: hidden;
    text-align: right;
}
.wsdplugin_page_title #uinfo #wsdplugin-current-user-name { display: block; color: #CC0000; padding-right: 7px; padding-left: 7px; }
.wsdplugin_page_title #uinfo #wsdplugin-current-user-menu{
    width: 180px;
    display: none;
    margin: 5px 0 0 0 !important;
    padding: 5px 0;
    background-color: #F9F9F9;
    border: 1px solid #DFDFDF;
    border-top: none 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.wsdplugin_page_title #uinfo:hover{
    background-color: #F9F9F9;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}

.wsdplugin_page_title #uinfo:hover #wsdplugin-current-user-menu{
    position: absolute; z-index: 9888998;
    display: block; clear: both;
    border-top: solid 1px #dadada;
    right: 25px;
}
.wsdplugin_page_title #uinfo:hover #wsdplugin-current-user-menu ul,
.wsdplugin_page_title #uinfo:hover #wsdplugin-current-user-menu ul li { margin: 0 0; padding: 0 0; width: 100%; list-style-type: none; list-style-position: outside;}
.wsdplugin_page_title #uinfo:hover #wsdplugin-current-user-menu ul li { padding: 7px 5px; text-align: left !important; }
.wsdplugin_page_title #uinfo:hover #wsdplugin-current-user-menu ul li a { display: block; margin: 3px 5px;}


.wsdplugin_page_title .wsdplugin_error_box { clear: both; }
.wsdplugin_page_alerts { float: none; clear: both;}

.go-pro {
    width: 156px; height: 38px;
    float: left; display: block;
    background: url('../img/btn-pro.png') no-repeat 0 0;
}

.wsdplugin_special_text {
    font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',sans-serif; font-size: 15px; line-height: 20px;
}





