/*
*
*/
@font-face {
	/* IE */
	font-family: 'SanukRegular';
	src: url('fonts/sanuk-regular-webfont.eot');
}

@font-face {
	/* everything else */
	font-family: 'SanukRegular';
	src: url(//:) format('no404'), url('fonts/sanuk-regular-webfont.woff') format('woff'), url('fonts/sanuk-regular-webfont.ttf') format('truetype'), url('fonts/sanuk-regular-webfont.svg#webfontZgmfH4JQ') format('svg');
	font-weight: normal;
	font-style: normal;
}

#acx-wrapper {
    margin: 0 10px 10px 0; clear: both;
    padding: 0 0 0 0 !important;
}
#acx-wrapper #acx-header {
    background: url('../images/header.jpg') repeat-x 0 0;
    margin: 0 0 0 0 !important;
    border-radius: 3px 3px 0 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#acx-wrapper,
#acx-wrapper .metabox-holder { overflow: hidden; min-height: 1px;}

#acx-wrapper a { color: #21759B; }
#acx-wrapper a:active, 
#acx-wrapper a:hover { color: #d00000; text-decoration: underline; }

#acx-wrapper p { font-size: 1em; }

#acx-wrapper ul, #acx-wrapper ol { padding: 0 0 0 0; margin: 0 0 0 0; }
#acx-wrapper ul li, #acx-wrapper ol li,
#acx-wrapper ul li p, #acx-wrapper ol li p {
    line-height: normal !important;
}
#acx-wrapper ul li p, #acx-wrapper ol li p { padding: 0 0 0 0; margin: 0 0 0 0; }




#acx-wrapper .acx-summary-list {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: url('../images/wsd-logo-small-list.png');
	padding-left: 20px;
}

#acx-wrapper .acx-common-list {
	list-style-type: none;
	list-style-position: outside;
    list-style-image: none;
}
#acx-wrapper .acx-common-list li {
    background: url('../images/arrow-black-icon.png') no-repeat left center;
    padding-left: 20px;
}


#acx-wrapper h2 {
	background: url(../images/wsd-logo.png) no-repeat left center;
	margin-top: 10px !important; margin-left: 20px;
    padding: 9px 0 7px 55px !important;
    font-size: 1.5em; color: #fff;

    font-family: 'SanukRegular',Arial,sans-serif;
    font-size: 22px;
    line-height: 26px;
}

#acx-wrapper #acx-header { padding: 0 0 0 0; }
#acx-wrapper #acx-header h2 { margin: 0 0 0 10px !important; line-height: 2em; }

#acx-wrapper #acx-page-content {
    padding: 7px 5px; margin: 0 0 0 0 !important;
    overflow: hidden; min-height: 1px;
    border-top: solid 2px #dedede;
    background: #ededed;
}

#acx-wrapper .acx-section-box {
    padding: 0.5em; margin: 0.5em;
}
#acx-wrapper .inner-box h3.hndle {
	background: url('../images/wsd-logo-small.png') no-repeat 5px 50%;
    padding-left: 35px; padding-top: 10px;
}

.acx-section-box h4 {
	display: block; clear: both; margin: 10px 0;
	font: 1.3em/1.4em Georgia, "Times New Roman", Times, serif;
	border-bottom: solid 1px #ebebeb;
}

/* Page: Tools */
#acx-wrapper #Words { overflow: hidden; min-height: 1px; margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; }
#acx-wrapper #Words p { float: left; display: block; width: 150px; line-height: normal !important; padding: 0 0 0 0; margin: 6px 7px 0 0 !important; }
#acx-wrapper #Words p.indicator { height: 4px; width: 150px; background: #fff; }
#acx-wrapper #Words p.indicator-1 { background: #f00;}
#acx-wrapper #Words p.indicator-2 { background: #990000; }
#acx-wrapper #Words p.indicator-3 { background: #990099; }
#acx-wrapper #Words p.indicator-4 { background: #000099; }
#acx-wrapper #Words p.indicator-5 { background: #0000ff; }
#acx-wrapper #Words p.indicator-6 { background: #ffffff; }
#acx-wrapper #Words p.indicator+p {padding: 0 0 0 0 !important; line-height: normal !important; margin: 0 0 0 0 !important;}
#acx-wrapper #wsd_pwdtool { margin-top: 10px; }

/* TABLES */
#acx-wrapper .acx-table {
	margin: 10px 0; padding: 0 0 0 0; width: 100%; border: solid 1px #ccc;
	font-family: Verdana, Geneva, sans-serif; font-size: 1em;
	cursor: default;
}
#acx-wrapper .acx-table td { padding: 3px 5px; }
#acx-wrapper .acx-table td.center { text-align: center; }

#acx-wrapper .acx-table thead { background: #000; }
	#acx-wrapper .acx-table thead td { padding: 5px 5px; color: #fff; }

#acx-wrapper .acx-table tbody td.td_success { width: 20px; background: url('../images/green-check-icon.png') no-repeat 5px bottom; }
#acx-wrapper .acx-table tbody td.td_error { width: 20px; background: url('../images/alert-info-icon.png') no-repeat 5px bottom; }

#acx-wrapper .acx-table tbody tr:hover { background: #e0e0e0; }

/* INFO BOXES */
#acx-wrapper .acx-info-box {
	margin: 7px 7px; padding: 0.2em 0.2em 0.2em 2.2em;
	font-family: Verdana, Geneva, sans-serif; font-size: 1em; color: #d00000;
	background: #FFC url('../images/icon-info.png') no-repeat 5px 50%; border: solid 1px #FC0;
}

#acx-wrapper .acx-info-box-noicon { background-image: none; }

.acx-notice-info { color: #252525; }
.acx-notice-success { color: #060; font-weight: 900; }

.acx-icon-alert-success { background: url('../images/green-check-icon.png') no-repeat right bottom; padding-right: 25px; line-height: 22px; }
.acx-icon-alert-critical { background: url('../images/alert-info-critical.gif') no-repeat right bottom; padding-right: 25px; line-height: 22px; }
.acx-icon-alert-info { background: url('../images/alert-info-icon.png') no-repeat right bottom; padding-right: 25px; line-height: 22px; }


/*[ Boxes' headngs ]*/
#acx-wrapper .hndle { cursor: default; line-height: 1.1em; padding-top: 10px; font-family: 'SanukRegular',Arial,sans-serif; }
.postbox h3 { background: url('../images/wsd-logo-small.png') no-repeat 5px 50% !important; }
.dashboard-page .postbox h3 span,
.about-page .postbox h3 span,
.tools-page .postbox h3 span,
.summary-page .postbox h3 span,
.database-page .postbox h3 span{ padding-left: 25px !important; }

#acx-wrapper h4 {
    border-bottom: solid 1px #DFDFDF;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 1.2em; font-weight: normal;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
}
#acx-wrapper blockquote {
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 1.2em; font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
#acx-wrapper blockquote cite {
    font-style: italic;
}


/*[ Overridden ]*/
.wsd-inside { overflow: hidden; min-height: 1px; }
#acx_wsd h4 { margin: 10px 0 !important; }


