/*
    Document   : wsd_sw_styles.css
    Created on : Jul 15, 2011, 10:50:06 AM
    Author     : kos
    Description: Define the page layout
    $rev #1 07/15/2011 k$
*/
/*[ Overriden ]*/
.poststuff { float: left; display: block; width: 49%; margin-left: 10px; }
.wrap .poststuff_left { margin-left: 0 !important;}
.wrap .poststuff_clear { clear: both; width: 100% !important; }
.form-table th { width: auto; }
.postbox .inside, .stuffbox .inside { padding: 0 10px; }
/*[ IMPORTED ]*/

/********************************************************
 * BEGIN >> General styling
*/
p.wsd-error-summary {
	background-color: #F9EFAC;
	border: 1px dotted #f00;
	color: #DC143C;
	padding: 5px 10px;
	margin: 10px;
	font-weight: bold;
	cursor: default;
}

span.wsd-error-summary-detail {
	color: #000;
	font-weight: normal;
	font-size: 11px;
	cursor: default;
}


p.wsd-success-summary {
	background-color: #90EE90;
	border: 1px dotted #f00;
	color: #000;
	padding: 5px 10px;
	margin: 10px;
	font-weight: bold;
	cursor: default;
}

span.wsd-success-summary-detail {
	color: #000;
	font-weight: normal;
	font-size: 11px;
	cursor: default;
}


p.wsd-login-notice {
	font-weight: bold;
	color: #000;
	margin-top: -10px;
	margin-bottom: 20px;
}

.wsd-inside {
	padding: 0 0 !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 100% !important;
}

p.wsd-error-summary a, .wsd-inside a {
	color: #CC0000;
	text-decoration: none;
}

p.wsd-error-summary a:hover, .wsd-inside a:hover {
	color: #CC0000;
	text-decoration: underline;
}

/*
* 3.0.2
*/
.scanpass { color: #090; }

.mrt_wpss_note {
	text-align: center;
	color: grey;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wpss_icon {
	background: url(../images/wsd-logo.png) no-repeat left center;
	margin-top: 10px !important;
    padding: 5px 0 3px 50px !important;
}

.wsd_user_notify {
    border: solid 1px #fc0; background: #ffc;
    padding: 5px 5px;
    font-size: 100%;
}
.wsd_user_information {
    border: solid 1px #324FB2; background: #E5EAF0;
    padding: 5px 5px;
    font-size: 100%;
}
.wsd_user_success {
    border: solid 1px #030; background: #090;
    padding: 5px 5px;
    font-size: 100%;
    color: #fff;
}
.wsd_info_list {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 10px 25px;
}
div.wsd_user_information, div.wsd_user_notify, div.wsd_user_success { margin: 1em 0 !important; }

.wsd_commonList {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding-left: 0;
}
.wsd_commonList li {
    font-style: italic !important;
    background: url('../images/wsd-logo-small-list.png') no-repeat 0 50%;
    padding: 2px 0 2px 20px !important;
}

.wsd-inside p, .wsd-inside ul, .wsd-inside ol, .wsd-inside blockquote, .wsd-inside input, .wsd-inside select {
    font-size: 100%;
}

.wsd-inside, .wsd-inside p, .wsd-inside li, .wsd-inside dl, .wsd-inside dd, .wsd-inside dt {
    line-height: normal !important;
}

#wsd_db_wrapper .inner-sidebar1 { margin: 10px 10px 0  10px; }
#wsd_db_wrapper, #wsd_db_wrapper .metabox-holder {overflow:hidden; min-height:1px; }
#wsd_permissions_table { margin: 15px 0; }
#wsd_permissions_table th,
#wsd_permissions_table td { text-align: left; }
#wsd_permissions_table td { padding: 1px 7px;}
#wsd_tables_list_block { clear: both;}
